.item {
    background-color: blueviolet;
    border: solid;
    align-items: center;
    gap: 10px;
}

.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item_1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item_2 {
    grid-row: span 2;
    grid-column: span 2;
}